[alias]
    aa = add -A
    co = checkout
    cp = cherry-pick
    st = status

    b = branch
    bd = branch -d
    bD = branch -D

    ci = commit
    cia = commit --amend
    ciaa = commit -a --amend
    cif = "!git ci --fixup HEAD"
    cifa = "!git ci -a --fixup HEAD"

    d = diff
    dc = diff --cached
    dh = diff HEAD~1
    dw = diff -w

    f = fetch
    fp = fetch -p
    fap = fetch --all -p

    l1 = log --oneline                                                                                                                                                                                                                                   
    l1b = "!git log --oneline $(git merge-base HEAD @{-1}).."

    p = push
    pf = push -f

    r = "!git rebase -i $(git merge-base HEAD @{-1})"
    ras = "!git rebase -i $(git merge-base HEAD @{-1}) --autosquash"
    rc = rebase --continue
    raac = "!git aa; git rc"
    ra = rebase --abort
                        
[user]
	name = Justin Johnson
	email = booleangate@gmail.com
[push]
	default = simple
