[alias]
    aa = add -A

    br = branch
    bd = branch -d
    bD = branch -D

    ci = commit
    cia = commit --amend
    ciaa = commit -a --amend
    cif = "!git ci --fixup HEAD"
    cifa = "!git ci -a --fixup HEAD"

    co = checkout
    com = checkout master

    cp = cherry-pick

    d = diff
    dc = diff --cached
    dh = diff HEAD~1
    dw = diff -w

    f = fetch -p --all --tags
    fp = fetch -p
    fap = fetch --all -p

    l1 = log --oneline
    l1b = "!git log --oneline $(git merge-base HEAD @{-1}).."

    p = push
    pf = push -f

    r = "!git rebase -i $(git merge-base HEAD @{-1})"
    ras = "!git rebase -i $(git merge-base HEAD @{-1}) --autosquash"
    rc = rebase --continue
    raac = "!git aa; git rc"
    ra = rebase --abort

    st = status

    rbm = rebase master

[user]
	name = Christine Urban
	email = christine.urban@pepsico.com

[push]
	default = simple

[fetch]
    prune = true

[pull]
    rebase = true
[core]
	ignorecase = false

# https://www.erikschierboom.com/2020/02/17/cleaning-up-local-git-branches-deleted-on-a-remote/
[alias]
  gone = ! "git fetch -p && git for-each-ref --format '%(refname:short) %(upstream:track)' | awk '$2 == \"[gone]\" {print $1}' | xargs -r git branch -D"
